<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<connectionStrings>
		<!--<add name="dbconn" connectionString="workstation id=WebEcom.mssql.somee.com;packet size=4096;user id=Rajesh_SQLLogin_1;pwd=6lj376j31g;data source=WebEcom.mssql.somee.com;persist security info=False;initial catalog=WebEcom;TrustServerCertificate=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />-->
		<add name="dbconn" connectionString="Data Source=DESKTOP-567PV48\SQLEXPRESS01;Initial Catalog=WebEcom;Integrated Security=True;TrustServerCertificate=True; MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
		<!--
    <add name="WebEcomConnectionString" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString2" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString3" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString4" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString5" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString6" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString7" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString8" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString9" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString10" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString11" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString12" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString13" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString14" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString15" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="WebEcomConnectionString16" connectionString="Data Source=DESKTOP-KCUJHHV;Initial Catalog=WebEcom;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    -->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<customErrors mode="Off"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
